<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


<div id="game">
    <table>
        {% for i in range(3) %}
        <tr>
            {% for j in range(3) %}
            <td id="cell-{{ i }}-{{ j }}" onclick="makeMove({{ i }}, {{ j }}, 'X')"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
